#navbar {
	height: 70px;
	position: fixed;
	margin: 0px auto;
	top: 0px;
	border: 1px solid black;
	text-align: center;
	background-color: white;
}

#main {
	font-size: 1.25em;
	margin-top: 70px;
	border: 1px solid black;
}